body {
    margin: 0;
    font-family: 'Heebo', sans-serif;
    color: #FFFFFF;
    background-color: rgb(10, 12, 15);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 14px
}

.mainWrapper {
    height: 100vh;
    position: relative;
}

.routes {
    position: relative;
    z-index: 8000;
}

a {
    color: #FFFFFF;
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700
}

::selection {
    background-color: #7ac4d3;
    color: antiquewhite;
}

// @IMPORTS
@import './sass/slider';
@import './sass/header';
@import './sass/footer';
@import './sass/contact';
@import './sass/gallery';
@import './sass/modal';
@import './sass/masonryGallery';

// Elements
@import './sass/fullLoader';